  
<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: monaco, monospace;
      margin:50px;
      font-size:100%;
      line-height:1.5;
      background:rgb(25,159,158); 
      }

    h1 {
      font-size: 30px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      text-align: center;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
    
    .wrapper {
      width:600px;
      margin:50px auto;
      background:#fff;
      padding:2em;
    }



    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      
      outline: none;
      font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
      background-color: #ccc;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }

  </style>
</head>

<body>
  <div class="wrapper">
    <h1>Cheat Sheet</h1>
    CP Count: <div id="cpCount"></div>
    <button type="button" class="collapsible">#1 Configure List</button>
    <div class="content">
        <h2>Sisters (bloody rose)</h2>
          
        <h3>canoness #1</h3>
        <table style="width:100%">
          <tr>
            <td>Relic:</td>
            <td>
              <input type="checkbox" value="" onclick="updateCount(this)">Beneficense<br>
            </td>
          </tr>
          <tr>
            <td>Warlord Trait:</td>
            <td>
              <label class="checkbox-inline">
                  <input type="checkbox" value="" onclick="updateCount(this)">Righteous Rage
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="" onclick="updateCount(this)">Indomitable Belief
              </label>
            </td>
          </tr>
        </table>

        <h3>canoness #2</h3>
        <table style="width:100%">
          <tr>
            <td>Relic:</td>
            <td>
              <input type="checkbox" value="" onclick="updateCount(this)">Litanies of Faith<br>
            </td>
          </tr>
          <tr>
            <td>Warlord Trait:</td>
            <td>
              <input type="checkbox" value="" onclick="updateCount(this)">Beacon of Faith<br>
            </td>
          </tr>
        </table>

        <h3>Inquisitor</h3>
        <table style="width:100%">
          <tr>
            <td>Order:</td>
            <td><input type="checkbox" value="">Hereticus</td>
          </tr>
          <tr>
            <td>Pyschic Power:</td>
            <td><input type="checkbox" value="">Terrify</td>
          </tr>
          <tr>
            <td>Relic:</td>
            <td>
              <input type="checkbox" value="" onclick="updateCount(this)">Blackshroud<br>
            </td>
          </tr>
          <tr>
            <td>Warlord Trait:</td>
            <td>
              <input type="checkbox" value="">No Escape<br>
            </td>
          </tr>
        </table>

        
        <h2>Guard (tallarn)</h2>
        <h3>platoon commander (warlord)</h3>
        
     
          <form>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Old Grudges
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Grand Strategist
            </label>
          </form>
  
        <h2>Scions (Iotan Dragons)</h2>
        <h3>tempestor prime (w/ rod)</h3>
        <h3>tempestor prime</h3>
    </div>

    <button type="button" class="collapsible">#2 View List</button>
      <div class="content">
        CP Count: <p id="output"></p>
        Sisters (bloody rose)
        <ul>
            <li>canoness</li>
            <li>canoness</li>
            <li>celestine</li>
            <li>2x zephyrim (squads of 8 with banners)</li>
            <li>mortifiers (squad of 2)</li>
            <li>2x repentia (squads of 8)</li>
            <li>preacher</li>
            <li>2x rhino</li>
            <li>3x minimum battle sisters</li>
        </ul>
        Guard (tallarn)
        <ul>
            <li>Tank commander (battle cannon & lascannon)</li>
            <li>Tank commander (battle cannon & lascannon)</li>
            <li>3x infantry squads</li>
            <li>platoon commander (warlord)</li>
        </ul>
        Scions (Iotan Dragons)
        <ul>
            <li>2x tempestor primes</li>
            <li>3x scions (bare squads of 10)</li>
        </ul>
        Inquisitor
        <ul>
            <li>Order</li>
            <li>Pyschic Power </li>
            <li>Inquisitorial Mandate</li>
        </ul>
    </div>
  
    <script>
      var cpCount = 18;
      window.onload = function(){
        document.getElementById('cpCount').innerHTML = cpCount;
      };

      function updateCount(checkboxInput) {

        cpCount = cpCount + (checkboxInput.checked ? -1 : 1);

        document.getElementById("cpCount").innerHTML = cpCount;
      }

      //Code for collapsible menus
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }

    </script>
    </div>  
  </body>
</html>