  
<!DOCTYPE html>
<html>
<head>
</head>

<body>
  Sisters (bloody rose)
  <ul>
    <li>canoness (relic sword)</li>
    <li>canoness (+1 invuln)</li>
    <li>celestine</li>
    <li>3x minimum battle sisters</li>
    <li>preacher</li>
    <li>2x repentia (squads of 8)</li>
    <li>2x zephyrim (squads of 8 with banners)</li>
    <li>mortifiers (squad of 2)</li>
    <li>2x rhino</li>
  </ul>
  Guard (tallarn)
  <ul>
    <li>Tank commander (relic cannon & lascannon)</li>
    <li>Tank commander (battle cannon & lascannon)</li>
    <li>3x infantry</li>
    <li>platoon commander (old grudges)</li>
  </ul>
  Scions (lambdan lions)
  <ul>
    <li>2x tempestor primes</li>
    <li>3x scions (bare squads of 10)</li>
  </ul>
  Inquisitor
  <ul>
    <li>Psyker: Terrify</li>
  </ul>
</body>
</html>